<% @series_mostrated.each do |s| %>
  <p>
    <%= s.name %>
    <%= s.rating / s.times_rated %>
  </p>
<%end%>
  <% @series_mostfavorited.each do |s| %>
    <p>
      <%= s.name %>
      <%= s.times %>
    </p>
<%end%>
