
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido <%= @user.email %></h1>
    <p>
      Esto es un email de prueba.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
